process {
    withLabel: pgscatalog_utils {
        ext.conda = "/opt/pgscatalog_utils/"
    }

    withLabel: plink2 {
        ext.conda = "/opt/plink2/"
    }

    withLabel: zstd {
        ext.conda = "/opt/zstd/"
    }

    withLabel: report {
        ext.conda = "/opt/report/"
    }

    withLabel: pyyaml {
        ext.conda = "/opt/pyyaml/"
    }

    withLabel: fraposa {
        ext.conda = "/opt/fraposa/"
    }
}
