process {
    withLabel: pgscatalog_utils {
        ext.conda = "/opt/pgscatalog_utils/"
    }

    withLabel: plink2 {
        ext.conda = "/opt/plink2/"
    }

    withLabel: zstd {
        ext.conda = "/opt/zstd/"
    }

    withLabel: report {
        ext.conda = "/opt/report/"
    }

    withLabel: pyyaml {
        ext.conda = "/opt/pyyaml/"
    }

    withLabel: fraposa {
        ext.conda = "/opt/fraposa/"
    }
}

// for GCP environments e.g. all of us
plugins {
    id 'nf-schema@2.0.0' // validation of parameters
    id 'nf-prov@1.2.2' // workflow provenance
    id 'nf-google@1.15.2' // for All of Us
}